.table-view {
	-fx-font-family: Consolas;
}

.table-row-cell{
	-fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:even {
	-fx-background-color: rgb(245, 245, 245);
	-fx-text-fill: black;
}

.table-row-cell:odd {
	-fx-background-color: rgb(225, 225, 225);
	-fx-text-fill: black;
}

.tag {
	-fx-border-radius: 1px;
	-fx-border-color: black;
	-fx-padding: 2 4 2 4;
	-fx-border-radius: 8;
	-fx-font-family: Consolas;
	-fx-font-size: 12px;
}

