.list-view, .split-pane {
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-border-color: rgb(175, 175, 175);
	-fx-border-radius: 1px;
}

.list-view .list-cell {
	-fx-padding: 0 4 0 4;
	-fx-background-color: white;
}

.list-view .list-cell:filled:selected:focused{
	-fx-background-color: transparent;
}

.list-view .list-cell:last-child .separator *.line { 
	-fx-border-style: none;
	-fx-border-width: none;
}


.list-view .label {
	-fx-text-fill: black;
}

.negative {
	-fx-text-fill: #ff0000 !important;
}

.positive {
	-fx-text-fill: #009900 !important;
}

#transactionItemsList {
	-fx-border-color: none;
	-fx-border-radius: 0px;
	-fx-text-fill: black;
}

#transactionItemsList .list-cell {
	-fx-padding: 0 8 0 8;
	-fx-text-fill: black;
}

#transactionItemsList .list-cell:even {
	-fx-background-color: rgb(245, 245, 245);
	-fx-text-fill: black;
}
#transactionItemsList .list-cell:odd {
	-fx-background-color: rgb(225, 225, 225);
	-fx-text-fill: black;
}

#transactionCountLabel {
	-fx-text-fill: #999999;
}

